<li class="sign"><span>Future</span></li>
{{#each this}}
    <li class="event" data-bottom-top="transform: translateY(150px);" data-top-bottom="transform: translateY(-50px);">
        <div class="meta">
            <span class="year">{{year}}</span>
            <span class="icon {{icon}}"></span>
        </div>
        <div class="label">
            <span class="role">{{role}}</span>
            <h3>{{title}}</h3>
            <span class="date">{{date}}</span>
            {{#if description}}
                <div class="description">
                    {{{description}}}
                </div>
            {{/if}}
        </div>
    </li>
{{/each}}
<li class="sign"><span>Born</span></li>
